:host {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 75%;
  background-color: #00008040;
  width: 100%;
}

.speaker {
  position: absolute;
  left: 1.5%;
  top: 6%;  
}

.text {
  position: absolute;
  left: 7%;
  right: 2%;
  top: 30%;
}