@use "sass:string";
@import "~@fontsource/roboto";
@import "~@fontsource/material-icons";

// you can change these defaults (even if you don't know much about scss)
$image-pane-aspect-ratio: "16/9";
$image-pane-border-color: black;
$image-pane-background-color: white;
$text-scale: 1;
$speaker-name-scale: 1.2;

// only change the code below here if you know what you are doing :)
$aspect: string.unquote($image-pane-aspect-ratio);

.text {
  color: white;
}

.speaker {
  color: cyan;
}

@media(max-aspect-ratio: $aspect) {
  .inner {
    position: absolute;
    background-color: $image-pane-background-color;
    width: 100%;
    aspect-ratio: $aspect;
  }

  .text-size {
    font-size: calc(2vw * $text-scale);
  }

  .speaker-size {
    font-size: calc(2vw * $speaker-name-scale);
  }
}

@media(min-aspect-ratio: $aspect) {
  .inner {
    position: absolute;
    background-color: $image-pane-background-color;
    height: 100%;
    aspect-ratio: $aspect;
  }

  .text-size {
    font-size: calc(2vh * $text-scale * $aspect);
  }

  .speaker-size {
    font-size: calc(2vh * $speaker-name-scale * $aspect);
  }
}